<br />
<mat-card style="width: 95%; margin: 0 auto">
  <mat-card-title> </mat-card-title>
  <mat-form-field appearance="outline">
    <mat-label>Name of the script</mat-label>
    <input matInput [(ngModel)]="id" />
  </mat-form-field>
  <br />
  <!--
  <mat-button-toggle-group
    #toggle="matButtonToggleGroup"
    value="ts"
    name="fontStyle"
    aria-label="Font Style"
  >
    <mat-button-toggle selected="true" value="ts">Javascript</mat-button-toggle>
    <mat-button-toggle value="html">HTML</mat-button-toggle>
    <mat-button-toggle value="css">CSS</mat-button-toggle>
  </mat-button-toggle-group>
-->

  <div
    fxLayout="row wrap"
    fxLayoutGap.gt-md="32px"
    fxLayoutAlign="space-between"
    id="search-section"
  >
    <div
      style="margin-bottom: 1em"
      fxFlex="0 1 100%"
      style="height: 35em"
      fxFlex.lt-lg="0 1 100%"
      fxFlex.gt-md="0 1 calc(50% - 16px)"
    >
      <ngx-monaco-editor
        width="100%"
        style="height: 35em"
        [options]="tsEditorOptions"
        [(ngModel)]="tsCode"
      ></ngx-monaco-editor>
    </div>
    <div fxFlex.lt-lg="0 1 100%" fxFlex.gt-md="0 1 calc(50% - 16px)">
      <app-render height="20em" width="100%" [tsCode]="tsCodeRendered"></app-render>
    </div>
  </div>
  <button mat-raised-button (click)="render()">Render</button>&nbsp;&nbsp;
  <button mat-raised-button (click)="save()" color="primary">Save</button>
  <br /><br />
</mat-card>
