.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

#grid {
  margin: 0 auto;
}

.card {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 10px;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  color: #888;
}

#search-input {
  width: 100%;
  margin-bottom: 0em;
}

.mat-form-field {
  width: 100%;
}

#container {
  margin: 0 auto;
}

#container-holder {
  width: 100%;
  background: #f8f8f8;
}

#search-section {
  padding-top: 2em;
  margin-bottom: 1em;
}

mat-paginator {
  background: #f8f8f8;
  margin-bottom: 2em;
}

.label {

        display: inline-block;
        padding: 0.5em;
        background: #444;
        border-radius: 0.5em;
        color: white;
      
}

.string {
  color: #aa4444
}

.brace {
  color: #4444aa
}