.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

#banner {
  width: 100%;
  padding-top: 2em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  margin: 0 auto;
  background: rgb(202, 60, 145);
  background: linear-gradient(
    137deg,
    rgba(202, 60, 145, 1) 0%,
    rgba(233, 69, 77, 1) 35%,
    rgba(255, 253, 76, 1) 100%
  );
  font-weight: 700;
  color: white;
  text-align: center;
  border-bottom: 1px #ccc;
}

#main-sentence {
  font-size: 3em;
  font-weight: 500;
}

#grid {
  margin: 0 auto;
}

.card {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 10px;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
  color: #888;
}

#search-input {
  width: 100%;
  margin-bottom: 0em;
}

.mat-form-field {
  width: 100%;
}

#inner-banner {
  width: 50%;
  padding-top: 4em;
  padding-bottom: 0em;
  margin: 0 auto;
}

#container {
  width: 60%;
  margin: 0 auto;
}

#container-holder {
  width: 100%;
  background: #f8f8f8;
}

#inner-banner h2 {
  font-weight: 400;
  color: #f2f2f2;
}

#search-section {
  padding-top: 2em;
  margin-bottom: 1em;
}
