.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

#banner {
  width: 100%;
  padding-top: 2em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  margin: 0 auto;
  background: linear-gradient(#ca3c91, #e9454d);
  font-weight: 700;
  color: white;
  text-align: center;
  border-bottom: 1px #ccc;
}

#main-sentence {
  font-size: 3em;
  font-weight: 500;
}

#grid {
  margin: 0 auto;
}

.card {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 10px;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important;
}

#search-input {
  margin-top: 2em;
  width: 100%;
  margin-bottom: 1em;
}

.example-full-width {
  width: 50%;
}

#inner-banner {
  width: 50%;
  padding-top: 4em;
  padding-bottom: 0em;
  margin: 0 auto;
}

#container {
  width: 60%;
  margin: 0 auto;
}

#inner-banner h2 {
  font-weight: 400;
  color: #f2f2f2;
}
