<div style="text-align: center">
  <br /><br /> <br />
  <h1 style="font-size: 3em">Embed scripts on any site</h1>
  <br />
  <h2 style="font-weight: normal">
    Have access to a wide range of APIs like a database, users service and more.<br />
    You will never neeed a backend again.
  </h2>
  <br />
</div>

<app-gist-edit></app-gist-edit>

<br />
<br />
<h1>
  <span
    style="
      display: inline-block;
      padding: 0.5em;
      background: #444444;
      color: #fcfcfc;
    "
    >See what others are building</span
  >
</h1>

<br />

<div style="width: 100%; margin: 0 auto">
  <app-gist-list style="margin: 0 auto"></app-gist-list>
  <div style="text-align: center">
    <button mat-raised-button color="primary">See More</button>
  </div>
  <br />
</div>
