<div fxLayout="row wrap" style="padding: 4em" fxLayoutAlign="space-between">
  <div fxFlex.lt-lg="0 1 100%" fxFlex.gt-md="0 1 calc(50% - 1em)">
    <h1 style="font-size: 4em; line-height: 1em">
      Social frontend development
    </h1>
    <div style="margin-top: 2em; color: #333">
      Embedscript is a tiny framework, a package manager, Firebase-like APIs and
      a webhost all in one.<br />
      Building frontend widgets and sharing them with your friends has never
      been this easy.
      <br /><br />
      What if Github gists would be alive? With Embedscript writing frontend
      apps and widgets that can be reused by you<br />
      or anyone else is as easy as saving a gist. You will need no backend, as
      we provide <br /><br /><br />
      <br />
      <button color="primary" mat-raised-button>Start Coding</button
      ><br /><br />
    </div>
  </div>
  <div
    fxFlex.lt-lg="0 1 100%"
    style="padding-top: 1em"
    fxFlex.gt-md="0 1 calc(50% - 1em)"
  >
    <span class="label">Write code</span>

    <code>
      <pre>
Embed.post<span class="brace">(</span><span class="string">"datastore/create"</span>, <span class="brace">&#123;</span>
  <span class="string">"project"</span>:  <span class="string">"projectid-1337"</span>,
  <span class="string">"table"</span>:    <span class="string">"comments"</span>,
  <span class="string">"value"</span>:    <span class="string">`"name":"joe", "comment": "Nice article!"`</span>
<span class="brace">&#125;)</span>;
  </pre>
    </code>
    <span class="label">Place embed code to your site</span>

    <code>
      <pre>
&lt;script src=<span class="string">"https://embedscript.com/e.js"</span>
  embed=<span class="string">"name-of-script"</span>
  project=<span class="string">"projectid-1337"</span>&gt;
&lt;/script&gt;
</pre>
    </code>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-between">
  <div
    fxFlex.lt-lg="0 1 100%"
    style="padding: 4em; background: #f2f2f2"
    fxFlex.gt-md="0 1 calc(50% - 1em)"
  >
    <h1 style="font-size: 2em; line-height: 1em">
      Ready to use scripts, with your own your data
    </h1>
    <p style="color: #555">
      Every script can be instantly used by logged in users.<br />
      When you embed the script, it will be done with your own project id.<br />
      This means you own all the data that script is accessing, and not the
      author of the script.<br />
    </p>
  </div>
  <div
    fxFlex.lt-lg="0 1 100%"
    style="padding: 4em; padding-left: 0"
    fxFlex.gt-md="0 1 calc(50% - 1em)"
  >
    <h1 style="font-size: 2em; line-height: 1em">APIs at your fingertips.</h1>
    <p style="color: #555">
      Define data access rules for your tables and save data straight from the
      browser.<br />
      Use a users service or streaming to build your next app..<br />
      Never write a backend again.
    </p>
  </div>
</div>

<br />
<br />
<h1>
  <span
    style="
      display: inline-block;
      padding: 0.5em;
      background: #444444;
      color: #fcfcfc;
      font-weight: 300px !important;
      border-radius: 0px 5px 5px 0px;
    "
    >See what others are building</span
  >
</h1>

<br />

<div
  style="
    width: calc(100% - 2em);
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
  "
>
  <app-gist-list
    *ngIf="files"
    [files]="files"
    style="margin: 0 auto"
  ></app-gist-list>
  <br />
</div>
