<div id="container">
  <div *ngIf="!files" style="text-align: center">No widgets yet.</div>
  <div
    *ngIf="files"
    style="width: 95%; margin: 0 auto;"
    id="grid"
    fxLayout="row wrap"
    fxLayoutGap.gt-md="32px"
    fxLayoutAlign="space-between"
  >
    <div
      *ngFor="let fileGroup of files"
      fxFlex.lt-lg="0 1 100%"
      fxFlex.gt-md="0 1 calc(33.3% - 32px)"
      style="padding-bottom: 2em;"
    >
      <mat-card style="background: #fcfcfc; margin-bottom: 1em">
        <mat-card-title
          ><a routerLink="/gist/{{ getTs(fileGroup).project }}">{{
            getTs(fileGroup).project
          }}</a></mat-card-title
        >
        <app-render
          style="background: white"
          [tsCode]="getTs(fileGroup).file_contents"
        ></app-render>
      </mat-card>
    </div>
  </div>
</div>
